body{
    background-color:#dfebff;
    
}

#presentacion{
    height: 90vh;
    display: flex;
    justify-content:start;
    align-items: center;

    background-image: url(assets/idea2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

.navbar{
    background-color: #000034;
}

#botoncontacto{
    background-color:#022485;
}

.proyecto{
    background-size:contain;
    background-repeat: no-repeat;
    background-position:top;
    
}

#proyecto-1{
    background-image: url('assets/clongoogle.png');
}

#proyecto-2{
    background-image: url('assets/pagina.png');
}

#proyecto-3{
    background-image: url('assets/Portafolio.png');
}

#Contacto{
    background-color: #000034;
    
}

#icono{
    background-color: #000034;
}
