body{
    background-color:#dfebff;
}

#presentacion{
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar{
    background-color:#1a1e4c;
}

#botoncontacto{
    background-color:#353ecd;
}

.proyecto{
    background-size: contain;
    background-repeat: no-repeat;
    background-position:top;
}

#proyecto-1{
    background-image: url('assets/clongoogle.png');
}

#proyecto-2{
    background-image: url('assets/pagina.png');
}

#proyecto-3{
    background-image: url('assets/Portafolio.png');
}
